*.ipynb
.venv/
*.png
!その他写真/*.png
!ハッカソン/*.png
!Amazon Connect で実現するカスタマーセルフサービスの新しいカタチ/**/*.png
!Amazon SageMaker HyperPod を利用した日本語 LLM (Swallow) の構築/**/*.png
!AWS Amplifyで加速する生成AIアプリケーション開発/**/*.png
!AWS におけるグレー障害の検出と対策/**/*.png
!GenAI を活用した縦型動画生成システムの開発/**/*.png
!GenAI を活用した縦型動画生成システムの開発/**/*.png
!GPU 以外の選択肢！開発チームが徹底解説、効率的な AI 基盤の作り方/**/*.png
!tenki.jp に学ぶセキュリティインシデント発生時の即応に必要な事業判断とエッジサービス活用/**/*.png
# *.HEIC